
.background    { background: rgb(10, 125, 202);
                 table-layout: fixed;
                 border-spacing: 0;  
                 background-repeat: repeat-x;

                 }
*{background: rgb(10, 125, 202);
  
}

.background td { padding: 0;          }
.lava          { background: rgba(97, 5, 97, 0.911); }
.wall          { background: orange;   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(0, 0, 0);}

.game {
  overflow: hidden;
  max-width: auto;
  max-height: auto;
  position: relative;
}

.lost .player {
  background: rgb(199, 7, 7);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.botonvidas{
  background-color: #4CAF50; 
  border: solid black;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.botonpuntuacion{
  background-color: #4CAF50; 
  border: solid black;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.botonpausa{
  background-color: red; 
  border: solid black;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.pre-loader {
  position: absolute;
  left: 50%;
  top: 50%;
}

*,*::after, *::before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contenedor_carga{
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

.carga{
    border: 15px solid #ccc;
    border-top-color: #f80053;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;

}

@keyframes girar {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

.cerrar{
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.titulo{
  background: greenyellow;
  
}








