.background    { background: rgb(103, 201, 103);
                 table-layout: fixed;
                 border-spacing: 0;  
                 background-repeat: repeat-x;

                 }
*{background: rgb(10, 125, 202);
  
}
.background td { padding: 0;          }
.lava          { background: rgba(97, 5, 97, 0.911); }
.wall          { background: orange;   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(0, 0, 0); }

.game {
  overflow: hidden;
  max-width: auto;
  max-height: auto;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

